.DM-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #f8e8dc;
}

.DM-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: scroll;
  gap: 10px;
}

.DM-post,
.DM-user {
  font-family: "Noto Sans", sans-serif; /* 폰트 서체 */
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.DM-user-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 575px;
  font-size: 25px;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid black;
  margin-bottom: 20px;
}

.DM-button {
  font-size: 25px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: #ff8b36;
  border: none;
  border-radius: 20px;
}
